In [1]:
def func_pass():
    pass 
#_____________________________#

def func_1():
    group_name = ' ML Hands On '
    print(group_name)

In [2]:
func_1()

 ML Hands On

In [3]:
def func_2():
    x = 2
    y = 3 
    x + y

In [9]:
x = "ML"
Y = 1234
type(func_2())

NoneType

In [29]:
def func_3():
    name = "Mohammed"
    age = 22 
    return {'name': name ,
           "age": age}

In [30]:
type(func_3())

dict

In [31]:
func_3()

{'name': 'Mohammed', 'age': 22}

In [32]:
def func_4():
    x = 2
    y = 3 
    return x + y

In [39]:
def func_5(num_1,num_2):
    x = num_1
    y = num_2
    return x + y

In [46]:
func_5(10,20)

30

In [41]:
def func_6(num_1,num_2 = 0):
    x = num_1
    y = num_2
    return x + y

In [48]:
func_6(10,20)

30

In [56]:
def func_to_loop(start_num):
    if start_num >= 0:
        print(start_num)
        start_num =start_num - 1 
        func_to_loop(start_num)
    else: 
        print("less than 0")

In [58]:
func_to_loop(10)

10
9
8
7
6
5
4
3
2
1
0
less than 0

In [59]:
class My_first_class:
    x = 5 
    y = "How r u"

In [60]:
opj = My_first_class()

In [61]:
opj.x

5

In [62]:
opj.y

'How r u'

In [75]:
class person:
    def __init__(self,name , gender,perth_year):
        self.name = name 
        self.six = gender 
        self.perth_year = perth_year

In [76]:
person_1 = person("Ziad","Man",2000)

In [77]:
person_1.six

'Man'

In [99]:
class person:
    def __init__(self,name , gender,perth_year):
        self.name = name 
        self.six = gender 
        self.perth_year = perth_year
    
    def age(self):
        return 2023 -self.perth_year

In [100]:
person_1 = person("Ziad","Man",2000)

In [101]:
person_1.age()

23

In [123]:
class person:
    def __init__(self,name , gender,perth_year):
        self.name = name 
        self.six = gender 
        self.perth_year = perth_year
    
    def age(self):
        return 2023 -self.perth_year
    def education(self,education = "no education"):
        edu = education
        return  edu
    def experince(self):
        return self.edu

In [124]:
person_1 = person("Ziad","Man",2000)

In [125]:
person_1.education("Engineering")

'Engineering'

In [126]:
person_1.experince()

AttributeError: 'person' object has no attribute 'edu'

In [129]:
# school sys 
#___________
# name 
# date 
# phone 
# address 
# supjects 
# creat ID 
#________________
# take this data 
# create student opj
# options : add grades , add gpa , shaow data 
#_______
# search using ID

In [12]:
id_creation = 0
database = {}
def user_interface():
    global id_creation
    global database       
    selection = int(input("Add new stuent [1], search about student [2]"))
    if selection == 1 :
        data_supject = []
        name = input('Student name: ')
        date = int(input('Student perth date year : '))
        for i in range(4):
            data_supject.append(input('supject' + str(i) + ": ")) 
        phone = input('Student phone: ')    
        address   = input('Student address: ')    
        s_id = id_creation
        id_creation = id_creation+1 
        st_opj = shcool_student(s_id,name,date,data_supject,phone,address)
        database[s_id] = st_opj
        return s_id

    else:
        s_id = int(input("Student ID: "))
        return database[s_id]

In [13]:
class shcool_student:
    def __init__(self,s_id,name,date,data_supject,phone,address,gpa = 0):
        self.s_id = s_id
        self.name = name
        self. date = date
        self.data_supject= data_supject
        self.phone = phone
        self.address = address
        self.supject_grades = {
            self.data_supject[0] : 0,
            self.data_supject[1] : 0,
            self.data_supject[2] : 0,
            self.data_supject[3] : 0
        }
        self.gpa = gpa
    def show_data(self):
        print("ID : " + str(self.s_id) )
        print("name : " + str(self.name) )
        print("data_supject : " + str(self.data_supject) )
        print("phone : " + str(self.phone) )
        print("address : " + str(self.address) )
        print("grades : " + str(self.supject_grades) )
        
    def add_grade(self,supject,grade):
        self.supject_grades[supject] = grade
        print('done')
    
    def gpa_add(self,grade):
        self.gpa = grade
        print('done')

In [14]:
user_interface()

Add new stuent [1], search about student [2]1
Student name: Ziad
Student perth date year : 2001
upject0: math
upject1: cs
upject2: arc
upject3: electro
Student phone: +201098784098
Student address: fayoum

0

In [15]:
st = user_interface()

Add new stuent [1], search about student [2]2
Student ID: 0

In [21]:
st.show_data()

ID : 0
name : Ziad
data_supject : ['math', 'cs', 'arc ', 'electro']
phone : +201098784098
address : fayoum
address : {'math': 80, 'cs': 0, 'arc ': 0, 'electro': 0}

In [20]:
st.add_grade('math',80)

done

In [24]:
st.gpa = 10

In [25]:
st.gpa

10

In [26]:
database

{0: <__main__.shcool_student at 0x20292180ca0>}